# demo py
# 总体回测前要做的事情

#parse ("pysrc/pytemplate/config.vm")

from zipline.api import *
from pdCal import *
import pandas as pd
import numpy as np

def initialize(context):
    stockinfo_df=getStock_info()
    [filt,sort]=getSelectConfig()




# 每天交易时
def handle_data(context, data):
