.front-page-default-theme{
    /*background-image: url("../images/fpbg.jpg");*/
}

.header{
    margin: 0 0 0 50px;
}

.about-us{
    text-align: right;
}

.logo{
    margin: 100px auto 0px auto;
    text-align: center;
}

.logo-img{
    max-width: 600px;
    max-height: 400px;
}

.nav-img{
    max-width: 200px;
    max-height: 100px;
}
.main-content{
    text-align: center;
}

.input-stock-number{
    min-width: 300px;
}

ul{
    list-style:none;
}

li{
    display: inline;
}